html {
    background-color: #ECEBFF
}

.logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 5px;
    border: 2px solid #2800B8;
}

header {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}
.photos {
    width: 800px;
}
h1 {
    background-color: #22009C;
    padding: 15px 10px;
    border-radius: 35px;
    color: #DFDFDF;
}

a {
    text-decoration: none;
    color: #C9C9C9;
}

.labs a:hover {
    transform: 1s;
    color: #FFFFFF;
    text-shadow: 0 0 5px #000000;
}

.labs {
    display: flex;
    margin: 0 20px;
    flex-wrap: wrap;
    margin-top: 200px;
    justify-content: center;
    background-color: #483BC0;
    border-radius: 5px;
    padding: 10px 0;
    align-content: space-around;
}

.labs article {
    margin: 5px 10px;
    flex-wrap: wrap;
    width: 500px;
    color: #DFDFDF;
    background-color: #2800B8;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    width: 350px;
}

.left-top-text {
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 380px;
}

.text {
    background-color: #483BC0;
    border-radius: 5px;
    padding-left: 10px;
    color: #C9C9C9;
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
}

ul a {
    color: #2800B8;
}

li {
    margin: 0 10px;
}

.links h2 {
    font-size: 20px;
}
.links h2:hover {
    color: rgb(101, 85, 240);
    text-decoration: #22009C;
}
.photos img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}